POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=db_test
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

SUBSCRIBE_GROUP_ID=-1002489680551
SUBSCRIBE_CHANNEL_ID=-1001765033775

SUBSCRIBE_GROUP_LINK=https://t.me/jgftdhtes
SUBSCRIBE_CHANNEL_LINK=https://t.me/HandsOverTheMemes

BOT_TOKEN=
PAYMENT_TOKEN=
